In [1]:
import pandas as pd

C:\Users\adpd1\AppData\Local\Temp\ipykernel_25444\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Data Frame

In [6]:
# array of individual entries, each of which has a certain value
pd.DataFrame(
    {
        "Name": ["Adnan", "Alam"],
        "Roll": [45, 23]
    }, index=["ind1", "ind2"]
)

       Name  Roll
ind1  Adnan    45
ind2   Alam    23

coloumn and Row
<br>
<img src="https://www.lifewire.com/thmb/bGk_pl4zgWBuCvUYT_04U3L4n1Y=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/columns-rows-excel-google-spreadsheets-57dd3f055f9b586516c6086f.jpg" width="300">

### Series

In [8]:
# a sequence of data values
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

If a DataFrame is a <i>table</i>, a Series is a _list_

In [13]:
pd.Series(
   [30, 35, 40], 
   index=['2015 Sales','2016 Sales', '2017 Sales'],
   name='Product A'
)

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

DataFrame as actually being just a bunch of Series __"glued together"__