In [16]:
import pandas as pd

In [12]:
info = pd.read_csv("./resources/country_capital.csv", index_col=False)
pd.set_option('display.max_rows',5)

In [17]:
info.Country # access property by dot method

0     United States
1            Canada
          ...
18     Saudi Arabia
19           Sweden
Name: Country, Length: 20, dtype: object

In [18]:
info["Country"] # access property by bracket notation

0     United States
1            Canada
          ...
18     Saudi Arabia
19           Sweden
Name: Country, Length: 20, dtype: object

In [19]:
info["Country"][0]

'United States'

### Indexing in Pandas

_Index-based selection_

In [24]:
info.iloc[0] # gets all property followed by index  
# [row, column]

Country    United States
City            New York
Name: 0, dtype: object

In [29]:
info.iloc[:, 0:]

          Country       City
0   United States   New York
1          Canada    Toronto
..            ...        ...
18   Saudi Arabia     Riyadh
19         Sweden  Stockholm

[20 rows x 2 columns]

In [31]:
info.iloc[:3,1]

0    New York
1     Toronto
2      London
Name: City, dtype: object

In [32]:
info.iloc[:3,0]

0     United States
1            Canada
2    United Kingdom
Name: Country, dtype: object

In [39]:
info.iloc[-5:]

         Country          City
15     Argentina  Buenos Aires
16        Turkey      Istanbul
17   Netherlands     Amsterdam
18  Saudi Arabia        Riyadh
19        Sweden     Stockholm

_Label-based selection_

In [41]:
info.loc[0,'Country']

'United States'