In [2]:
import pandas as pd

C:\Users\adpd1\AppData\Local\Temp\ipykernel_18360\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [34]:
info = pd.read_csv("./resources/country_capital.csv", index_col=False)
pd.set_option('display.max_rows',5)

In [4]:
info.Country # access property by dot method

0     United States
1            Canada
          ...
18     Saudi Arabia
19           Sweden
Name: Country, Length: 20, dtype: object

In [5]:
info["Country"] # access property by bracket notation

0     United States
1            Canada
          ...
18     Saudi Arabia
19           Sweden
Name: Country, Length: 20, dtype: object

In [6]:
info["Country"][0]

'United States'

### Indexing in Pandas

_Index-based selection_

In [7]:
info.iloc[0] # gets all property followed by index  
# [row, column]

Country    United States
City            New York
Name: 0, dtype: object

In [8]:
info.iloc[:, 0:]

          Country       City
0   United States   New York
1          Canada    Toronto
..            ...        ...
18   Saudi Arabia     Riyadh
19         Sweden  Stockholm

[20 rows x 2 columns]

In [9]:
info.iloc[:3,1]

0    New York
1     Toronto
2      London
Name: City, dtype: object

In [10]:
info.iloc[:3,0]

0     United States
1            Canada
2    United Kingdom
Name: Country, dtype: object

In [11]:
info.iloc[-5:]

         Country          City
15     Argentina  Buenos Aires
16        Turkey      Istanbul
17   Netherlands     Amsterdam
18  Saudi Arabia        Riyadh
19        Sweden     Stockholm

_Label-based selection_

In [12]:
info.loc[0,'Country']

'United States'

In [15]:
info.loc[:,'Country']

0     United States
1            Canada
          ...
18     Saudi Arabia
19           Sweden
Name: Country, Length: 20, dtype: object

### Manipulating the index

In [18]:
info.set_index("Country")

                    City
Country
United States   New York
Canada           Toronto
...                  ...
Saudi Arabia      Riyadh
Sweden         Stockholm

[20 rows x 1 columns]

#### Conditional selection

In [22]:
info.Country == "Brazil"

0     False
1     False
      ...
18    False
19    False
Name: Country, Length: 20, dtype: bool

In [21]:
info.loc[info.Country == "Brazil"]

   Country       City
10  Brazil  SÃ£o Paulo

In [25]:
info.loc[(info.Country == "Brazil") | (info.City == "London")]

           Country       City
2   United Kingdom     London
10          Brazil  SÃ£o Paulo

In [29]:
info.loc(info.Country.isin(['Brazil'])) # IDK what does it  do

In [42]:
info.loc[info.City.notnull()]

          Country       City
0   United States   New York
1          Canada    Toronto
..            ...        ...
19         Sweden  Stockholm
20           Temp

[21 rows x 2 columns]

#### Assigning data

In [43]:
info["hello"] = "Everyone" # hello as Column and Everyone as Row

In [44]:
info

          Country       City     hello
0   United States   New York  Everyone
1          Canada    Toronto  Everyone
..            ...        ...       ...
19         Sweden  Stockholm  Everyone
20           Temp             Everyone

[21 rows x 3 columns]

In [52]:
info["hello"] = range(len(info))

In [53]:
info["hello"]

0      0
1      1
      ..
19    19
20    20
Name: hello, Length: 21, dtype: int64